// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Generics
a {
    color: #000;
    text-decoration: none;
}

form :where(input, select, textarea) {
    margin-bottom: 0.25rem;
}

img {
    height: auto;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-header {
    height: 100px;
    background-color: orange;
}

a,
header {
    text-decoration: none;
    font-size: 20px;
    color: red;
}

#welcome-main {
    background-color: orange;
    height: calc(100vh - 100px);
}

#text-container-1,
#text-container-2 {
    height: 80px;

    width: fit-content;
    padding: 10px;

}

#text-container-1 {
    margin-left: 200px;
}

#text-container-2 {
    margin-top: 100px;
    margin-right: 200px;
}

#welcome-image {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
